@font-face {
    font-family: 'Audiowide';
    src: url('../images/Audiowide/Audiowide-Regular.ttf') format('truetype');
    font-weight: normal; font-style: normal; font-display: swap;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Audiowide', 'Courier New', Courier, monospace;
    margin: 0;
    text-align: center;
}

h1, h2, p, span {
    margin: 0;
    padding: 1rem;
}

h1 {
    background-color: aqua;
    font-size: clamp(1.5rem, 3vw, 3rem);
}

h2 {
    background-color: aquamarine;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

#mission {
    background-color: black;
    color: white;
}

#mission-statement {
    font-size: clamp(clamp(4.5rem, 6vw, 6rem), 15vw, 15rem);
}

#war p:nth-child(1) {
    background-color: red;
    font-size: clamp(2rem, 5vw, 5rem);
}

#war p:nth-child(2) {
    background-color: orange;
    font-size: clamp(1rem, 3vw, 3rem);
}

#war p:nth-child(3) {
    background-color: greenyellow;
    font-size: clamp(1.5rem, 4vw, 4rem);
}

#war p:nth-child(4) {
    background-color: cyan;
    font-size: clamp(1rem, 3vw, 3rem);
}

#links {
    background-color: black;
    color: white;
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: bold;
    padding: 1.5rem;
}

a {
    color: aqua;
}