<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The American Union</title>
</head>
<body>
    Coming soon!

    <span>
        NATION STATS: <a href="/stats">AVAILABLE HERE ON THIS WEBSITE</a>
    </span>
    <br>
    <span>
        ALL THE AUTs: <a href="https://docs.google.com/document/d/1HonVWkh0uigSgPBY7LkX341vakJLNIwUU9cFHDL80BE/edit?tab=t.0">AUT 0 - THE TREATY LIST</a>
    </span>
    <br>
    <span>
        ALL THE DGDs: <a href="https://docs.google.com/document/d/1HonVWkh0uigSgPBY7LkX341vakJLNIwUU9cFHDL80BE/edit?tab=t.3cfisz6xplgo">AUT 0.2 - THE DGD LIST</a>
    </span>
</body>
</html>