<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nation Stats</title>
    <link href="static/styles.css" rel="stylesheet">
    <link href="static/stats.css" rel="stylesheet">

</head>
<body>
    <h1>Nation Stats</h1>
    <p class="subtitle">
        A list of all nations and inter-nation unions of the world recognized by the American Union. Each nation/union listed contains 
        various stats pertaining to the nation/union. Note that descriptions for military can be subjective. Click on a cell to edit that cell,
        and click anywhere else to save your changes.
    </p>

    <br>
    <span>Total Assets: {{total_wealth}} | Total Population: {{total_population}}</span>
    <br><br>

    <span class="button-pill" style="display: none">
        <button>+</button>|<button>-</button>
    </span>
    
    <section id="unions">
        <h2>Unions</h2>
        <p class="subtitle">Union military, reserve, and land is separate from the military and wealth of the member nations unless otherwise stated.</p>
        <table>
            <tr>
                <th>Name</th>
                <th>Leader</th>
                <th>Reserve</th>
                <th>Reps.</th>
                <th>Military</th>
                <th>Land</th>
                <th>Members</th>
                <th>Other Information</th>
            </tr>

            {% for index, union in union_enumeration %}
            <tr>
                <td class="{{index}} Unions Name">{{ union.Name }}</td>
                <td class="{{index}} Unions Leader">{{ union.Leader }}</td>
                <td class="{{index}} Unions Reserve">${{ union.Reserve }}T</td>
                <td class="{{index}} Unions Reps.">{{ union["Reps."] }}</td>
                <td class="{{index}} Unions Military">{{ union.Military }}</td>
                <td class="{{index}} Unions Land">{{ union.Land }}</td>
                <td class="{{index}} Unions Members">
                    {{ ', '.join(union.Members) }}
                    {% if union["Partial Members"] != [] %}
                        (Partial: {{', '.join(union["Partial Members"])}})
                    {% endif %}

                </td>
                <td class="{{index}} Unions Other">{{ union["Other Information"] }}</td>
            </tr>
            {% endfor %}

        </table>
    </section>

    <br>

    <section id="nations">
        <h2>Nations</h2>
        <p class="subtitle">Wealth is defined as liquid assets and nation investments are counted in both the investor’s and the investee’s wealth.</p>
        <table>
            <tr>
                <th>Name</th>
                <th>Leader</th>
                <th>Wealth</th>
                <th>Citizens</th>
                <th>Military</th>
                <th>Location/Land</th>
                <th>Other Information</th>
            </tr>

            {% for index, nation in nation_enumeration %}
                
            <tr style="background-color: {{nation['Background Color']}}">
                <td class="{{index}} Nations Name">{{ nation.Name }}</td>
                <td class="{{index}} Nations Leader">{{ nation.Leader }}</td>
                <td class="{{index}} Nations Wealth">${{ nation.Wealth }}T</td>
                <td class="{{index}} Nations Citizens">{{ nation.Citizens }}M</td>
                <td class="{{index}} Nations Military">{{ nation.Military }}</td>
                <td class="{{index}} Nations Location/Land">{{ nation["Location/Land"] }}</td>
                <td class="{{index}} Nations Other">{{ nation["Other Information"] }}</td>
            </tr>
            {% endfor %}

        </table>    
    </section>

    <br><br>

    <img src="static/colony-map.png" width="1000">
    <p class="img-sub">Striped means disputed territory.</p>

    <br>

    <span>
        ALL THE AUTs: <a href="https://docs.google.com/document/d/1HonVWkh0uigSgPBY7LkX341vakJLNIwUU9cFHDL80BE/edit?tab=t.0">AUT 0 - THE TREATY LIST</a>
    </span>
    <br>
    <span>
        ALL THE DGDs: <a href="https://docs.google.com/document/d/1HonVWkh0uigSgPBY7LkX341vakJLNIwUU9cFHDL80BE/edit?tab=t.3cfisz6xplgo">AUT 0.2 - THE DGD LIST</a>
    </span>
    
    <script src="static/stats.js"></script>
</body>
</html>