<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nation Stats</title>
    <link href="static/css/styles.css" rel="stylesheet">
    <link href="static/css/stats.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="static/images/favicon.png">
</head>
<body>
    <h1>Nation Stats</h1>
    <p class="subtitle">
        A list of all nations and inter-nation unions of the world recognized by the American Union. Each nation/union listed contains 
        various stats pertaining to the nation/union. Note that descriptions for military can be subjective. Click on a cell to edit that cell,
        and click anywhere else to save your changes. Click near a border of a cell to insert a new row. Use the buttons on the top left to delete or recolor rows.
    </p>

    <br>
    <span id="total-stats">Total Assets: {{total_wealth}} | Total Population: {{total_population}}</span>
    <br><br>

    <div class="action-buttons">
        <button class="button-pill" id="delete-row"><img src="/static/images/trash.svg"></button>
        <button class="button-pill" id="paint-row"><img src="/static/images/brush.svg"></button>
        <!-- <button class="button-pill"><img src="/static/images/sliders.svg"></button> -->
    </div>

    <div class="button-pill popup" id="action-instructions">Click on a row to delete it.</div>

    <div class="button-pill popup" id="repaint">
        <label for="repaint-hex">Insert new hex code to repaint background.</label><br>
        #<input type="text" id="repaint-hex" name="repaint-hex"><br>
        <button id="repaint-cancel">Cancel</button><button id="repaint-submit">Submit</button>
    </div>
    
    <section id="unions">
        <h2>Unions</h2>
        <p class="subtitle">Union military, reserve, and land is separate from the military and wealth of the member nations unless otherwise stated.</p>
        <table>
            <tr>
                <th>Name</th>
                <th>Leader</th>
                <th>Reserve</th>
                <th>Reps.</th>
                <th>Military</th>
                <th>Land</th>
                <th>Members</th>
                <th>Other Information</th>
            </tr>

            {% for index, union in union_enumeration %}
            <tr>
                <td data-cellInfo="{{index}} Unions Name">{{ union.Name }}</td>
                <td data-cellInfo="{{index}} Unions Leader">{{ union.Leader }}</td>
                <td data-cellInfo="{{index}} Unions Reserve">${{ union.Reserve }}T</td>
                <td data-cellInfo="{{index}} Unions Reps.">
                    <span class="reps">{{union["Reps."]}}</span>
                    <br>
                    {% if union["Rep. Ratio"] != "N/A" %}
                        <div class="rep-ratio">(Citizen to Rep Ratio: {{union["Rep. Ratio"]}}:1)</div>
                    {% endif %}
                </td>
                <td data-cellInfo="{{index}} Unions Military">{{ union.Military }}</td>
                <td data-cellInfo="{{index}} Unions Land">{{ union.Land }}</td>
                <td data-cellInfo="{{index}} Unions Members">
                    {{ ', '.join(union.Members) }}
                    {% if union["Partial Members"] != [] %}
                        (Partial: {{', '.join(union["Partial Members"])}})
                    {% endif %}

                </td>
                <td data-cellInfo="{{index}} Unions Other">{{ union["Other Information"] }}</td>
            </tr>
            {% endfor %}

        </table>
    </section>

    <br>

    <section id="nations">
        <h2>Nations</h2>
        <p class="subtitle">Wealth is defined as liquid assets in the government reserve and nation investments are counted in both the investor’s and the investee’s wealth.</p>
        <table>
            <tr>
                <th>Name</th>
                <th>Leader</th>
                <th>Wealth</th>
                <th>Citizens</th>
                <th>Military</th>
                <th>Location/Land</th>
                <th>Other Information</th>
            </tr>

            {% for index, nation in nation_enumeration %}
                
            <tr style="background-color: {{nation['Background Color']}}">
                <td data-cellInfo="{{index}} Nations Name">{{ nation.Name }}</td>
                <td data-cellInfo="{{index}} Nations Leader">{{ nation.Leader }}</td>
                <td data-cellInfo="{{index}} Nations Wealth">${{ nation.Wealth }}T</td>
                <td data-cellInfo="{{index}} Nations Citizens">{{ nation.Citizens }}M</td>
                <td data-cellInfo="{{index}} Nations Military">{{ nation.Military }}</td>
                <td data-cellInfo="{{index}} Nations Location/Land">{{ nation["Location/Land"] }}</td>
                <td data-cellInfo="{{index}} Nations Other">{{ nation["Other Information"] }}</td>
            </tr>
            {% endfor %}

        </table>    
    </section>

    <br><br>

    <img id="colony-map" src="static/images/colony-map.png" width="1000">
    <p class="img-sub">Striped means disputed territory.</p>

    <br>

    <span>
        ALL THE AUTs: <a href="https://docs.google.com/document/d/1HonVWkh0uigSgPBY7LkX341vakJLNIwUU9cFHDL80BE/edit?tab=t.0">AUT 0 - THE TREATY LIST</a>
    </span>
    <br>
    <span>
        ALL THE DGDs: <a href="https://docs.google.com/document/d/1HonVWkh0uigSgPBY7LkX341vakJLNIwUU9cFHDL80BE/edit?tab=t.3cfisz6xplgo">AUT 0.2 - THE DGD LIST</a>
    </span>
    
    <script src="static/js/stats/stats.js" type="module"></script>
</body>
</html>